<div class="footer">
    <div class="footer-container">
        <p>
             ©2017 <%= config.title %> powered by Hexo and 
            <a href="https://github.com/buhuo00/hexo-theme-grace">hexo-theme-grace</a>
        </p>
        <p>Hosted by <a href="https://pages.coding.me">Coding Pages</a></p>
    </div>
</div>